.additional__green-line {
    position: absolute;
    top: 13px;
    left: 237px;
    width: 55px;
}

.additional__text {
    font-size: 16px;
    font-weight: 500;
    padding-left: 11px;
}

.additional__line {
    position: absolute;
    top: -7px;
    width: 280px;
    left: 12px;
}


.subtitle_left {
    padding-top: 20px;
  
}

.subtitle_right {
    padding-top: 20px;
}

.left_1 {
    margin-left: -142px;
    margin-right: 139px;
}

.left_2 {
    margin-left: -110px;
    margin-right: 195px;
}

.left_3 {
    margin-left: -58px;
    margin-right: 207px;
}

.left_4 {
    margin-left: -77px;
    margin-right: 144px;
}