
.additional__text {
    font-size: 16px;
    font-weight: 500;
    padding-left: 11px;
    text-transform: uppercase;
    margin-bottom: 0;
}


.additional__items {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 25px;
}

.additional__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    position: relative;
    display: inline-block;
    padding-right: 22px;
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 35px;
    margin-top: 0;
    background: #ffffff;
}

.additional__title::after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 3px;
    background: #68b738;
    top: 17px;
    z-index: -1;
}

.additional__gift {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

.additional__gift::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    margin-top: 30px;
}

.additional__text-gift {
    max-width: 150px;
    margin: 0;
    line-height: 20px;
    font-family: "Arial", "Tahoma", sans-serif;

}

.additional__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.additional__container::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    margin-top: 30px;
}

.aditional__gift_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 290px;
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    color: #ffffff;
    background-image: url(/img/gift-photo-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
    background-size: cover;
}

@media (min-width:$tablets) {

    .additional__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 1;
        font-family: "Oswald", "Arial", sans-serif;
        color: #111111;
        position: relative;
        display: inline-block;
        padding-right: 29px;
        padding-left: 10px;
        margin-left: -5px;
        margin-bottom: 35px;
        margin-top: 0;
        background: #ffffff;
    }
    .additional__title::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 3px;
        background: #68b738;
        top: 17px;
        z-index: -1;
        right: 0;
    }

    .additional__container {
        border: 1px solid #cdcdcd;
        padding: 23px;
    }
    .additional__container::before {
        display: none;
    }

    .subtitle {
        font-size: 16px;
        padding-left: 30px;
    }
    .additional__text {
        font-size: 20px;
    }
    .additional__items {
        display: flex;
        justify-content: flex-end;
        margin-top: -34px;
        padding: 0;
    }

    .aditional__gift_img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 290px;
        width: 100%;
        padding: 50px 10px;
        text-align: center;
        color: #ffffff;
        background-image: url(/img/gift-photo-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #68b738;
        background-size: cover;
    }
}

@media (min-width:$tablets-max) {
    .additional__container {
        border: 0;
    }
}

@media (min-width: $desktops) {
    .additional__container {
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #cdcdcd;
        padding: 10px;
    }

    .additional__gift {
        flex: 0 0 25%;
        max-width: 30%;
    }

    .aditional__gift_img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 290px;
        width: 100%;
        padding: 50px 10px;
        text-align: center;
        color: #ffffff;
        background-image: url(/img/gift-photo-desktop.png);
    }

    .additional__items {
        margin-top: 0;
    }

    .additional__wrapper {
    display: flex;
    justify-content: space-between;
    }

    .additional__column {
        width: 70%;
    }
}