.button {
    position: absolute;
    width: 280px;
    height: 40px;
    background-color: #32CD32;
    border: 0;
    top: 88%;
    left: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.button_gray {
    background-color:#C0C0C0;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    top: 152px;
}