.catalog__column {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px;
}

@media (min-width:$tablets) {
    .catalog__column {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 110px;
        margin-bottom: 30px;
    }
}

@media (min-width: $desktops) {
    .catalog__column {
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 110px;
        margin-bottom: 30px;
    }
}