.programm {
    position: relative;
    background-color: #D3D3D3;
    width: 280px;
    height: 230px;
}

.catalog_slim {
    margin-bottom: 25px;
}

.catalog__headline {
    font-size: 24px;
    font-weight: 500;
    position: absolute;
}

.catalog__circle {
    position: absolute;
    background-color: #008000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 19px;
    top: 11px;
}

.catalog__img {
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
}

.catalog__excerpt {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.catalog__link-img {
    position: absolute;
    left: 114px;
    bottom: 16px;
}