.programm {
    position: relative;
    background-color: #D3D3D3;
    width: 280px;
    height: 230px;
}

.catalog_slim {
    margin-bottom: 25px;
}

.catalog__headline {
    font-size: 24px;
    font-weight: 500;
    position: absolute;
}

.circle {
    position: absolute;
    background-color: #008000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 19px;
    top: 11px;
}

.catalog__img {
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;
}

.img_top {
    top: 10px;
    left: 30px;           
}

.img_bottom {
    top: 22px;
    left: 8px; 
}

.text_top {
    width: 225px;
    margin-left: 19px;
    margin-top: 26px;
}

.text_down {
    width: 225px;
    margin-left: 19px;
    margin-top: 44px;
}

.headline_top {
    top: -2px;
    left: 86px;
}

.headline_bottom {
    top: -2px;
    left: 86px;
}

.hr {
    width: 240px;
    height: 1px;
    position: absolute;
    opacity: 30%;
    bottom: 37px;
    left: 20px;
}

.catalog__excerpt {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

