.field-text {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
    margin-bottom: 10px;
}

.field-text__label {
    margin-right: 18px;
    font-size: 20px;
    line-height: 20px;
    flex-shrink: 0;
    max-width: 50%;
    font-family: "Oswald","Arial",sans-serif;
    text-transform: uppercase;
    color: #222;
}

.field-text__input {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 6px 18px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: "Oswald","Arial",sans-serif;
    text-transform: uppercase;
    color: #222;
    background-color: #fff;
    border: 1px solid rgba(205,205,205,.5);
}

.field-text__icon {
    right: 37px;
}

.field-text__icon {
    position: absolute;
    top: 50%;
    transform: translate(100%,-50%);
    fill: #222;
}

.field-text__input-wrapper {
    position: relative;
    width: 100%;
}