.page-footer__contacts {
    display: flex;
    position: relative;
    flex-direction: column;
}

.page-footer__img {
    position: absolute;
    left: 82px;
}

.page-footer__copyright {
    padding-top: 15px;
    padding-left: 27px;
}

.page-footer__icon {
    position: absolute;
    bottom: 10px;
    left: 269px;
}

.page-footer__wrapper {
    background-color: #f2f2f2;
    width: 320px;
}