.form__wrapper {
    position: relative;
    width: 320px;
}


.form__title {
    font-size: 36px;
}

.form__subtitle {
    font-size: 14px;
    font-weight: 500;
}

.form_text {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    flex-grow: 1;
    padding: 6px 18px;
}

.form-item {
    display: flex;
    width: 100%;
}

.page-main {
    width: 320px;
}

