.form__wrapper {
    position: relative;
}

.form__title {
    font-size: 36px;
}

.form__subtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.form_text {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    flex-grow: 1;
    padding: 6px 18px;
}

.form-item {
    display: flex;
    width: 100%;
}

.form__radio-button {
    width: 30px;
    height: 30px;
}

.form-radio {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 45px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 20px;
}

.form-group {
    padding-bottom: 10px;
}

.form__slogan {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Arial", "Tahoma", sans-serif;
}


.form-checkbox {
    margin-bottom: 20px;
}

.form__row_checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.form__btn-container {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.form__slogan-container {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: $tablets) {
    .form__subtitle {
        font-size: 20px;
        padding-left: 30px;
    }
    .form__title {
        font-size: 60px;
    }

    .form-checkbox {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .form-group_checkbox {
        width: 33%;
        flex: 0 0 50%;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .form__btn-container {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 10px;
    }

    .form__row_checkbox {
      margin-left: 20px;
    }

    .form__slogan-container {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .form__button {
        padding: 10px;
    }
}

@media (min-width: $desktops) {
    .form__main-form {
        display: flex;
    }
    .form__text-fields {
        flex: 0 0 49%;
        max-width: 50%;
        margin-right: 50px;
    }
    .form-radio {
        border: 1px solid #e6e6e6;
        flex: 0 0 37%;
        width: 50%;
        margin-top: 0;
    }

    .form__subtitle {
        padding-left: 0;
    }

    .field-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        -webkit-box-align: center;
        margin-bottom: 10px;
        flex: 0 0 45%;
    }
    .form__text-fields_contacts{
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        margin-right: 50px;
        justify-content: space-between;     
        padding-left: 20px;   
    }
    .form-group_checkbox {
        width: 25%;
        flex: 0 0 25%;
        padding-left: 20px;
        padding-bottom: 10px;
    }
}