.form__radio-button {
    width: 30px;
    height: 30px;
}

.form-radio {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 45px;
}

.form-group {
    padding-bottom: 10px;
}

.button_form {
    position: absolute;
    top: 75%;
}

.slogan_form {
    margin-top: 62px;
    padding-left: 72px;
}