.page-header__layout {
    position: relative;
    width: 320px;
}

.page-header__logo {
    margin-right: 62px;
    padding-left: 13px;
}

.page-header__logo-header {
    margin-right: 70px;
    padding-top: 10px;
}


.page-header__menu {
    border: 0;
    position: relative;
    background-color: white;
    width: 30px;
}

.menu__line {
    width: 20px;
    height: 2px;
    background-color: black;
}

.line_first {
    position: absolute;
    top: 14px;
}

.line_second {
    position: absolute;
}

.line_third {
    position: absolute;
    bottom: 10px;
}