.hr {
    width: 240px;
    height: 1px;
    opacity: 30%;
}

.hr_top {
    position: absolute;
    bottom: 37px;
    left: 20px;
}

.hr_bottom {
    position: absolute;
    bottom: 37px;
    left: 20px;
}

.footer_hr-top {
    width: 280px;
    position: absolute;
    left: 26px;
    top: 48px;
}

.footer_hr-bottom {
    width: 280px;
    position: absolute;
    left: 26px;
    top: 117px;
}

.form_hr-top {
    width: 320px;
    position: absolute;
    bottom: 125px;
}

.form_hr-bottom {
    width: 320px;
    position: absolute;
    bottom: -20px;
}

.info__hr {
    width: 90px;
    height: 3px;
    background-color: #228B22;
}

.hr_coment-1 {
    position: absolute;
    left: 192px;
    top: 20px;
}

.hr_coment-2 {
    position: absolute;
    left: 139px;
    top: 16px;
    width: 143px;
}

.hr_additionally {
    position: absolute;
    width: 134px;
    left: 149px;
    top: 12px;
}

.line_top {
    top: -17px;
}


.hr_catalog {
    position: absolute;
    top: -27px;
    left: 4px;
    width: 306px;
}

.catalog_hr {
    position: absolute;
    top: 173px;
    width: 311px;
}