.img_top {
    top: 10px;
    left: 30px;           
}

.img_bottom {
    top: 22px;
    left: 8px; 
}

.text_top {
    width: 225px;
    margin-left: 19px;
    margin-top: 26px;
}

.text_down {
    width: 225px;
    margin-left: 19px;
    margin-top: 44px;
}

.headline_top {
    top: -2px;
    left: 86px;
}

.headline_bottom {
    top: -2px;
    left: 86px;
}