.info__wrapper {
    margin-bottom: 24px;
}

.info__contacts {
    position: relative;
}

.info__icon {
    position: absolute;   
}

.info__coments {
    position: relative;
}

.coment_field {
    width: 280px;
    height: 150px; 
}

.info-additionally {
    position: relative;
}

.info__hr {
    width: 90px;
    height: 3px;
    background-color: #228B22;
}

.info__hr_comment {
    position: absolute;
    left: 139px;
    top: 16px;
    width: 143px;
}

