.info__wrapper {
    margin-bottom: 24px;
}

.info__contacts {
    position: relative;
}

.info__icon {
    position: absolute;   
}

.info__coments {
    position: relative;
}

.coment_field {
    width: 280px;
    height: 150px; 
}

.info-additionally {
    position: relative;
}


