.page-footer__column {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-footer__container {
    max-width: 100%;
    flex: 0 0 100%;
    padding-left: 50px;
    padding-right: 50px;
}
    

.page-footer__social-contacts {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 47px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-right: 60px;
}
    .social__item {
        text-decoration: none;
        list-style-type: none;
        margin: 0 10px;
}

.footer__img {
    display: block;
    max-width: 135px;
    margin: 0 auto;
    padding: 35px 0 30px;
    transition: 0.3s;
}

.page-footer__academy-links {
    display: flex;
    justify-content: space-between;
}

.page-footer__icon {
    margin-top: 18px;
}

.page-footer__copyright {
    font-size: 16px;
}

@media (min-width:$tablets) {
    .page-footer__column {
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: nowrap;
    }

    .page-footer__container {
        flex: none;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .page-footer__social-contacts {
        border: 0;
        padding: 20px 0;
    }
    .page-footer__icon {
        margin-left: 20px;
    }
    .social__item {
        margin: 0 10px;
    }
}