.page-footer__contacts {
    display: flex;
    position: relative;
    flex-direction: column;
}

.page-footer__img {
    position: absolute;
    left: 82px;
}

.page-footer__copyright {
    padding-top: 15px;
    padding-left: 27px;
}

.page-footer__icon {
    position: absolute;
    bottom: 10px;
    left: 269px;
}

.page-footer__wrapper {
    background-color: #f2f2f2;
    width: 320px;
}

.page-footer__adress {
    display: flex;
    margin-bottom: 23px;
    padding-top: 20px;
}

.page-footer__map {
    position: relative;
    padding-bottom: 29px;
}

.page-footer__slogan {
    text-align: start;
    width: 120px;
}

.page-footer__subtitle {
    width: 144px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37px;
    margin-top: 0;
}

.page-footer__slogan {
    text-align: start;
    width: 120px;
    text-transform: uppercase;
}

.page-footer__social-contacts {
    display: flex;
    padding-top: 62px;
    padding-left: 0;
}

.social__item {
    list-style-type: none;
}