

.programm__container {
    position: relative;
    background: #f2f2f2;
    padding: 40px 20px 20px;
    margin-bottom: 20px;
}


.programm__container-text {
    padding-bottom: 20px;
    margin-bottom: 19px;
    border-bottom: 1px solid #d9d9d9;
}

.programm__img {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 50px;
    background: #68b738;
    border-radius: 50%;
}

.programm__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}

.programm__text {
    margin:0;
}


.programm__headline {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 70px;
    text-transform: uppercase;
}


.programm__excerpt {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.programm__link-img {
    position: absolute;
    left: 114px;
    bottom: 16px;
}

@media (min-width: $tablets) {
    .programm__container {
        padding: 77px 315px 58px 52px;
    }
    .programm__img {
        width: 200px;
        height: 200px;
        top: 45px;
        right: 68px;
    }
    .programm__headline {
        font-size: 36px;
        padding: 0;
        margin-bottom: 25px;
    }
    .programm__text {
        font-size: 16px;
    }
    .programm__container-text {
        border: none;
        padding-bottom: 27px;
        margin-bottom: 27px;
    }
    .programm__excerpt {
        position: absolute;
        bottom: 47px;
        left: 51px;
    }
    .programm__link-img {
        position: absolute;
        left: 159px;
        bottom: 50px;
    }
}
