.promo__wrapper {
    background: #f2f2f2;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.promo__result {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    .promo__result__item {
        list-style-type: none;
        max-width: 124px;
        width: 100%;
        padding: 15px 10px 5px;
        text-align: center;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
    }
    .result__total {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: #111111;
    }
    .result__text{
        font-size: 12px;
        line-height: 1;
        margin: 8px 0 0;
        color: #111111;
        font-family: "Arial", "Tahoma", sans-serif;
    }
}

.promo__result__wrapper {
    max-width: 105px;
    padding: 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    background: #f2f2f2;
}

.promo__distrinction {
    display: flex;
    justify-content: space-between;
    max-width: 195px;
    align-items: center;
    padding: 30px 0 35px;
    margin: 0 auto;
    .distrinction__btn {
        border: 0;
        font-size: 16px;
        text-transform: uppercase;   
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: #111111;
    }
}
    


.distrinction__progress {
    position: relative;
    max-width: 84px;
    width: 100%;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    background: #ffffff;
}

.distrinction__progress::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    top: 33%;
    left: 5px;
    border-radius: 50px;
}

.promo__pictures {
    max-width: 280px;
    margin: 0 auto;
}

 

.promo__column {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

@media (max-width:$phones-max) {
    .promo__column::after {
        display: none;
    }
    .promo__img_after {
        display: none;
    }
    .distrinction__tog {
        display: none;
    }
    
}


@media (min-width: $tablets) {
    .promo__wrapper {
    background-color: white;
    z-index: 1;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    }

    .promo__result__wrapper {
        background-color: white;
    }
    .title {
        font-size: 60px;
    }

    .promo__result {
        justify-content: flex-start;
        .promo__result__item {
            margin-right: 45px;
            list-style-type: none;
            max-width: 144px;
            width: 100%;
            padding: 5px 10px 5px;
            text-align: center;
            border: 1px solid #d9d9d9;
            border-radius: 0; 
            }
    }
    .promo__pictures {
        display: flex;
        position: relative;
        max-width: inherit;
        height: 560px;
    }
    .text {
        font-size: 16px;
    }

    .promo__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
 
    }
}
    .promo__img_before {
        clip: rect(auto, 354px, auto, auto);
    }

    .promo__img_after {
        clip: rect(auto, auto, auto, 345px);
        .promo__img_after {
            display: block;
        }
    
    }

    .promo__column::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66.3%;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    z-index: -1;
}

.promo__column {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
}

.promo__distrinction {
    max-width: 585px;
    .distrinction__btn {
        font-size: 20px;
    }
}

 
