.page-main {
    width: 320px;
}


.form__wrapper {
    position: relative;
    width: 320px;
}

.catalog__wrapper {
    position: relative;
}


.page-footer__wrapper {
    background-color: #f2f2f2;
    width: 320px;
}

.additional__wrapper {
    position: relative;
}

.promo__wrapper {
    background-color: #D3D3D3;
    width: 300px;
    position: relative;
}


.info__wrapper {
    margin-bottom: 24px;
}

.page-header__wrapper {
    position: relative;
    padding-bottom: 167px;
}