@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  box-sizing: border-box; }

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); }

body {
  margin: 0;
  font-family: "Oswald", Arial, sans-serif;
  color: black;
  background-color: white; }

.title {
  font-size: 36px;
  font-weight: 500; }

.text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

.visually-hidden {
  visibility: hidden; }

@font-face {
  font-family: 'Conv_arial';
  src: url("fonts/arial.eot");
  src: local("☺"), url("fonts/arial.woff") format("woff"), url("fonts/arial.ttf") format("truetype"), url("fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.page-header__layout {
  position: relative;
  border-bottom: 1px solid #e6e6e6; }

.page-header__logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 54px 10px 20px; }

.page-header__logo {
  margin-right: 62px;
  padding-left: 13px; }

.page-header__logo-header {
  margin-right: 70px;
  padding-top: 10px; }

.page-header__wrapper {
  position: relative;
  padding-bottom: 167px; }

.header_preview::after {
  content: "";
  position: absolute;
  left: 0;
  min-height: 306px;
  width: 100%;
  background-image: url(/img/index-background-mobile.png);
  background-color: #63a73a;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1; }

.logo {
  display: block;
  width: 100%; }

.page-header__container {
  display: flex; }

@media (min-width: 767px) {
  .page-header::after {
    display: none; } }

@media (min-width: 768px) {
  .logo {
    max-width: 174px; } }

@media (min-width: 768px) {
  .page-header__container {
    padding-top: 21px;
    padding-bottom: 0;
    justify-content: space-between; } }

@media (min-width: 767px) {
  .page-header__logo-block {
    display: none; } }

.main-nav {
  display: none; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 20px;
  background-color: transparent;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 10; }

.main-nav__toggle-bar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 2px;
  background-color: #222; }

.main-nav__toggle-bar::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  top: 8px; }

.main-nav__toggle-bar::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  top: -8px; }

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.main-nav--closed, .main-nav__items {
  display: none; }

.main-nav--opened, .main-nav__items {
  display: block; }

.main-nav__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase; }

.main-nav__item-link {
  display: block;
  padding: 23px 20px;
  color: #111;
  text-decoration: none;
  box-shadow: inset 0 1px 0 #e6e6e6; }

.navigation__items {
  display: flex; }

.navigation__item {
  list-style-type: none;
  padding-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2px 19px; }
  .navigation__item .navigation__link {
    text-decoration: none;
    color: black; }

@media (max-width: 767px) {
  .page-header__tablet-desktop {
    display: none; } }

@media (min-width: 767px) {
  .main-nav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; } }

@media (min-width: 768px) {
  .main-nav__item {
    padding: 10px 0 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; } }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

.programm__container {
  position: relative;
  background: #f2f2f2;
  padding: 40px 20px 20px;
  margin-bottom: 20px; }

.programm__container-text {
  padding-bottom: 20px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9; }

.programm__img {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%; }

.programm__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply; }

.programm__text {
  margin: 0; }

.programm__headline {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 70px;
  text-transform: uppercase; }

.programm__excerpt {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.programm__link-img {
  position: absolute;
  left: 114px;
  bottom: 16px; }

@media (min-width: 768px) {
  .programm__container {
    padding: 77px 315px 58px 52px; }
  .programm__img {
    width: 200px;
    height: 200px;
    top: 45px;
    right: 68px; }
  .programm__headline {
    font-size: 36px;
    padding: 0;
    margin-bottom: 25px; }
  .programm__text {
    font-size: 16px; }
  .programm__container-text {
    border: none;
    padding-bottom: 27px;
    margin-bottom: 27px; }
  .programm__excerpt {
    position: absolute;
    bottom: 47px;
    left: 51px; }
  .programm__link-img {
    position: absolute;
    left: 159px;
    bottom: 50px; } }

.catalog__wrapper {
  position: relative; }

.catalog__excerpt {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.catalog__link-img {
  position: absolute;
  left: 114px;
  bottom: 16px; }

.catalog__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 210px; }

.catalog__list_left {
  padding-left: 0;
  padding-top: 58px;
  margin-left: -79px; }

.catalog__list_right {
  padding-top: 58px;
  padding-left: 78px; }

.catalog_hr-under {
  position: absolute;
  width: 306px; }

.catalog__title {
  margin-top: 50px;
  font-size: 36px; }

.catalog__container {
  display: flex;
  margin-bottom: 35px;
  position: relative; }

.catalog__text {
  font-size: 16px;
  font-weight: 600; }

.catalog__list {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }
  .catalog__list li {
    list-style-type: none; }

.button {
  width: 100%;
  background-color: #68b738;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px; }

.button_gray {
  background-color: #C0C0C0;
  color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  top: 152px; }

@media (min-width: 768px) {
  .button {
    width: auto;
    font-size: 20px;
    padding: 16px 27px; } }

.promo__wrapper {
  background: #f2f2f2;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.promo__result {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px; }
  .promo__result .promo__result__item {
    list-style-type: none;
    max-width: 124px;
    width: 100%;
    padding: 15px 10px 5px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px; }
  .promo__result .result__total {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111; }
  .promo__result .result__text {
    font-size: 12px;
    line-height: 1;
    margin: 8px 0 0;
    color: #111111;
    font-family: "Arial", "Tahoma", sans-serif; }

.promo__result__wrapper {
  max-width: 105px;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background: #f2f2f2; }

.promo__distrinction {
  display: flex;
  justify-content: space-between;
  max-width: 195px;
  align-items: center;
  padding: 30px 0 35px;
  margin: 0 auto; }
  .promo__distrinction .distrinction__btn {
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #111111; }

.distrinction__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background: #ffffff; }

.distrinction__progress::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  top: 33%;
  left: 5px;
  border-radius: 50px; }

.promo__pictures {
  max-width: 280px;
  margin: 0 auto; }

.promo__column {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden; }

@media (max-width: 767px) {
  .promo__column::after {
    display: none; }
  .promo__img_after {
    display: none; }
  .distrinction__tog {
    display: none; } }

@media (min-width: 768px) {
  .promo__wrapper {
    background-color: white;
    z-index: 1;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }
  .promo__result__wrapper {
    background-color: white; }
  .title {
    font-size: 60px; }
  .promo__result {
    justify-content: flex-start; }
    .promo__result .promo__result__item {
      margin-right: 45px;
      list-style-type: none;
      max-width: 144px;
      width: 100%;
      padding: 5px 10px 5px;
      text-align: center;
      border: 1px solid #d9d9d9;
      border-radius: 0; }
  .promo__pictures {
    display: flex;
    position: relative;
    max-width: inherit;
    height: 560px; }
  .text {
    font-size: 16px; }
  .promo__img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto; } }

.promo__img_before {
  clip: rect(auto, 354px, auto, auto); }

.promo__img_after {
  clip: rect(auto, auto, auto, 345px); }
  .promo__img_after .promo__img_after {
    display: block; }

.promo__column::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 66.3%;
  background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  z-index: -1; }

.promo__column {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1; }

.promo__distrinction {
  max-width: 585px; }
  .promo__distrinction .distrinction__btn {
    font-size: 20px; }

.page-footer__column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  align-items: center; }

.page-footer__container {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 50px;
  padding-right: 50px; }

.page-footer__social-contacts {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 47px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 60px; }

.social__item {
  text-decoration: none;
  list-style-type: none;
  margin: 0 10px; }

.footer__img {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding: 35px 0 30px;
  transition: 0.3s; }

.page-footer__academy-links {
  display: flex;
  justify-content: space-between; }

.page-footer__icon {
  margin-top: 18px; }

.page-footer__copyright {
  font-size: 16px; }

@media (min-width: 768px) {
  .page-footer__column {
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: nowrap; }
  .page-footer__container {
    flex: none;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .page-footer__social-contacts {
    border: 0;
    padding: 20px 0; }
  .page-footer__icon {
    margin-left: 20px; }
  .social__item {
    margin: 0 10px; } }

.form__wrapper {
  position: relative; }

.form__title {
  font-size: 36px; }

.form__subtitle {
  font-size: 14px;
  font-weight: 500; }

.form_text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  flex-grow: 1;
  padding: 6px 18px; }

.form-item {
  display: flex;
  width: 100%; }

.form__radio-button {
  width: 30px;
  height: 30px; }

.form-radio {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 45px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 20px; }

.form-group {
  padding-bottom: 10px; }

.form__slogan {
  margin-top: 62px;
  padding-left: 72px; }

.form__button {
  position: absolute;
  top: 75%; }

.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid gray;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px; }

.custom-radio-btn::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: green;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in; }

.real-radio-btn:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1); }

.real-radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1; }

.info__wrapper {
  margin-bottom: 24px; }

.info__contacts {
  position: relative; }

.info__icon {
  position: absolute; }

.info__coments {
  position: relative; }

.coment_field {
  width: 280px;
  height: 150px; }

.info-additionally {
  position: relative; }

.option {
  display: block;
  margin-bottom: 0.25em; }

.check {
  padding-left: 3.2em;
  padding-bottom: 10px; }

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.check__box {
  position: absolute;
  margin-left: -2.5em;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid gray;
  padding: 6px 3px 6px 4px; }

.check__input:checked + .check__box {
  background-image: url(/img/icon-tick.svg);
  background-size: 32px auto;
  background-clip: content-box; }

.catalog-bottom__icon {
  position: absolute;
  top: 30px;
  left: 136px; }

.catalog-bottom_text {
  margin-top: 87px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: 600; }

.additional__wrapper {
  position: relative; }

.additional__green-line {
  position: absolute;
  top: 13px;
  left: 237px;
  width: 55px; }

.additional__text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 11px;
  text-transform: uppercase;
  margin-bottom: 0; }

.additional__line {
  position: absolute;
  top: -7px;
  width: 280px;
  left: 12px; }

.additional__container {
  display: flex;
  flex-direction: column; }

.additional__items {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px; }

.additional__title {
  padding-left: 10px; }

.additional__img {
  position: relative;
  margin-bottom: 50px;
  padding-left: 10px; }

.additional__gift {
  position: relative; }

.additional__icon {
  position: absolute;
  left: 108px;
  top: 53px; }

.additional__text-gift {
  position: absolute;
  top: 130px;
  width: 130px;
  text-align: center;
  left: 72px;
  color: white; }

.additional__container {
  position: relative;
  display: flex;
  margin-bottom: 50px; }

.additional_line_top {
  top: -17px; }

.field-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  margin-bottom: 10px; }

.field-text__label {
  margin-right: 18px;
  font-size: 20px;
  line-height: 20px;
  flex-shrink: 0;
  max-width: 50%;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  color: #222; }

.field-text__input {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  padding: 6px 18px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  color: #222;
  background-color: #fff;
  border: 1px solid rgba(205, 205, 205, 0.5); }

.field-text__icon {
  right: 37px; }

.field-text__icon {
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  fill: #222; }

.field-text__input-wrapper {
  position: relative;
  width: 100%; }

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 23px; }

.instruction__text {
  position: absolute;
  left: 89px; }

.instruction__image {
  position: absolute;
  top: 15px;
  left: 35px; }

.instruction__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.instruction__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-size: 50px; }

@media (min-width: 768px) {
  .instruction__list {
    counter-reset: section; }
  .instruction__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    min-height: 230px;
    margin-bottom: 87px; }
  .instruction__item::after {
    counter-increment: section;
    content: counter(section) "";
    position: absolute;
    left: 140px;
    top: -38px;
    font-size: 280px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    z-index: -1; }
  .instruction__item::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    background-color: #68b738;
    background-size: 50px;
    margin-bottom: 14px; }
  .instruction__image {
    position: absolute;
    top: 23px;
    left: 58px; }
  .instruction__text {
    position: absolute;
    left: 27px;
    max-width: 250px; } }

.page-main__block {
  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px; }

.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 23px;
  margin-top: 0;
  color: #ffffff; }

.main__text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0; }

.main_logo {
  display: block;
  margin: 0 auto 5px; }

@media (min-width: 768px) {
  .main__img {
    position: absolute;
    right: 10%;
    margin: 0 auto;
    bottom: 9%;
    z-index: -1; }
  .page-main__block {
    padding-left: 90px;
    padding-top: 55px;
    margin-bottom: 5px;
    min-height: 860px;
    text-align: left; } }

@media (min-width: 768px) {
  .main__title {
    max-width: 329px;
    margin-bottom: 25px;
    text-align: left;
    color: #111111; }
  .main__text {
    color: #111111;
    text-align: left; } }

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

.adress__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 25px; }
  .adress__wrapper .adress__title {
    font-size: 16px;
    text-transform: uppercase;
    max-width: 124px;
    line-height: 20px;
    margin: 0; }
  .adress__wrapper .adress__text {
    max-width: 160px;
    font-size: 14px;
    margin: 0;
    font-family: "Arial", "Tahoma", sans-serif;
    line-height: 21px; }

@media (min-width: 768px) {
  .adress__wrapper {
    padding: 28px 58px 25px 49px; }
    .adress__wrapper .adress__title {
      font-size: 20px; }
    .adress__wrapper .adress__text {
      font-size: 16px;
      text-align: right; } }

.adress__map {
  position: relative; }

.map__marker {
  position: absolute;
  left: 41%;
  top: 31%; }
