@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  box-sizing: border-box; }

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); }

body {
  margin: 0;
  font-family: "Oswald", Arial, sans-serif;
  color: black;
  background-color: white; }

a {
  text-decoration: none; }

.title {
  font-size: 36px;
  font-weight: 500; }

.text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

.visually-hidden {
  visibility: hidden; }

@font-face {
  font-family: 'Conv_arial';
  src: url("fonts/arial.eot");
  src: local("☺"), url("fonts/arial.woff") format("woff"), url("fonts/arial.ttf") format("truetype"), url("fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.page-header__layout {
  position: relative;
  border-bottom: 1px solid #e6e6e6; }

.page-header__logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 54px 10px 20px; }

.page-header__logo {
  margin-right: 62px;
  padding-left: 13px; }

.page-header__logo-header {
  margin-right: 70px;
  padding-top: 10px; }

.page-header__wrapper {
  position: relative;
  padding-bottom: 167px; }

.header_preview::after {
  content: "";
  position: absolute;
  left: 0;
  min-height: 306px;
  width: 100%;
  background-image: url(/img/index-background-mobile.png);
  background-color: #63a73a;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1; }

.logo {
  display: block;
  width: 100%; }

.page-header__container {
  display: flex; }

@media (min-width: 767px) {
  .header_preview::after {
    display: none; } }

@media (min-width: 768px) {
  .logo {
    max-width: 174px; } }

@media (min-width: 768px) {
  .page-header__container {
    padding-top: 21px;
    padding-bottom: 0;
    justify-content: space-between; } }

@media (min-width: 767px) {
  .page-header__logo-block {
    display: none; } }

@media (min-width: 1300px) {
  .page-header_desktop::before {
    content: "";
    position: absolute;
    right: 0;
    min-height: 600px;
    width: 50%;
    background-image: url(/img/index-background-desktop.png);
    background-color: #63a73a;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1; } }

.main-nav {
  display: none; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 20px;
  background-color: transparent;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 10; }

.main-nav__toggle-bar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 2px;
  background-color: #222; }

.main-nav__toggle-bar::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  top: 8px; }

.main-nav__toggle-bar::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  top: -8px; }

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.main-nav--closed, .main-nav__items {
  display: none; }

.main-nav--opened, .main-nav__items {
  display: block; }

.main-nav__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase; }

.main-nav__item-link {
  display: block;
  padding: 23px 20px;
  color: #111;
  text-decoration: none;
  box-shadow: inset 0 1px 0 #e6e6e6;
  position: relative; }

.navigation__link_active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5px;
  height: 2px;
  background-color: #68b738; }

.navigation__items {
  display: flex; }

.navigation__item {
  list-style-type: none;
  padding-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2px 19px; }
  .navigation__item .navigation__link {
    text-decoration: none;
    color: black;
    position: relative; }

@media (max-width: 767px) {
  .page-header__tablet-desktop {
    display: none; }
  .page-header__tablet {
    display: none; } }

@media (min-width: 767px) {
  .main-nav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; } }

@media (min-width: 768px) {
  .main-nav__item {
    padding: 10px 0 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; } }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1300px) {
  .navigation__item .link_index {
    text-decoration: none;
    color: white;
    font-size: 20px; }
  .main-nav__item-link_index {
    background-color: white; } }

.programm__container {
  position: relative;
  background: #f2f2f2;
  padding: 40px 20px 20px;
  margin-bottom: 20px; }

.programm__container-text {
  padding-bottom: 20px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9; }

.programm__img {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%; }

.programm__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply; }

.programm__text {
  margin: 0; }

.programm__headline {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 70px;
  text-transform: uppercase; }

.programm__excerpt {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.programm__link-img {
  position: absolute;
  left: 114px;
  bottom: 16px; }

@media (min-width: 768px) {
  .programm__container {
    padding: 77px 315px 58px 52px; }
  .programm__img {
    width: 200px;
    height: 200px;
    top: 45px;
    right: 68px; }
  .programm__headline {
    font-size: 36px;
    padding: 0;
    margin-bottom: 25px; }
  .programm__text {
    font-size: 16px; }
  .programm__container-text {
    border: none;
    padding-bottom: 27px;
    margin-bottom: 27px; }
  .programm__excerpt {
    position: absolute;
    bottom: 47px;
    left: 51px; }
  .programm__link-img {
    position: absolute;
    left: 159px;
    bottom: 50px; } }

@media (min-width: 1300px) {
  .programm__wrapper {
    display: flex; }
  .programm__container {
    margin: 0 33px; }
  .programm__img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: inherit; }
  .programm__container {
    padding: 80px 55px 58px; }
  .programm__headline {
    padding-left: 162px;
    margin-bottom: 70px; }
  .programm__excerpt {
    font-size: 20px; }
  .programm__link-img {
    position: absolute;
    left: 175px;
    bottom: 55px; } }

.catalog__column {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .catalog__column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 110px;
    margin-bottom: 30px; } }

@media (min-width: 1300px) {
  .catalog__column {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 110px;
    margin-bottom: 30px; } }

.button {
  width: 100%;
  background-color: #68b738;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block; }

.button_gray {
  display: inline-block;
  background: #f2f2f2;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .button {
    width: 100%;
    font-size: 20px;
    padding: 16px 27px; }
  .button_small {
    width: auto; }
  .button_catalog {
    padding: 3px 5px; } }

@media (min-width: 1300px) {
  .button__container {
    flex: 33%;
    max-width: 33%; } }

.promo__wrapper {
  background: #f2f2f2;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.promo__result {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px; }
  .promo__result .promo__result__item {
    list-style-type: none;
    max-width: 124px;
    width: 100%;
    padding: 15px 10px 5px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px; }
  .promo__result .result__total {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111; }
  .promo__result .result__text {
    font-size: 12px;
    line-height: 1;
    margin: 8px 0 0;
    color: #111111;
    font-family: "Arial", "Tahoma", sans-serif; }

.promo__result__wrapper {
  max-width: 105px;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background: #f2f2f2; }

.promo__distrinction {
  display: flex;
  justify-content: space-between;
  max-width: 195px;
  align-items: center;
  padding: 30px 0 35px;
  margin: 0 auto; }
  .promo__distrinction .distrinction__btn {
    position: relative;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #111111;
    border-bottom: 1px dotted #bebebe; }

.distrinction__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background: #ffffff; }

.distrinction__progress::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  top: 33%;
  left: 5px;
  border-radius: 50px; }

.promo__pictures {
  max-width: 280px;
  margin: 0 auto; }

.promo__cost {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .promo__cost .cost__text {
    padding-right: 6px;
    text-transform: uppercase; }

.promo__column {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden; }

@media (max-width: 767px) {
  .promo__column::after {
    display: none; }
  .promo__img_after {
    display: none; }
  .distrinction__tog {
    display: none; } }

@media (min-width: 768px) {
  .promo__wrapper {
    background-color: transparent;
    z-index: 1;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }
  .promo__result__wrapper {
    background-color: white; }
  .title {
    font-size: 60px; }
  .promo__result {
    justify-content: flex-start; }
    .promo__result .promo__result__item {
      margin-right: 45px;
      list-style-type: none;
      max-width: 144px;
      width: 100%;
      padding: 5px 10px 5px;
      text-align: center;
      border: 1px solid #d9d9d9;
      border-radius: 0; }
  .promo__pictures {
    display: flex;
    position: relative;
    max-width: inherit;
    height: 560px;
    justify-content: center; }
  .text {
    font-size: 16px; }
  .promo__img {
    max-width: 100%;
    margin: 0 auto; }
  .promo__img_before {
    clip: rect(auto, 354px, auto, auto); }
  .promo__img_after {
    clip: rect(auto, auto, auto, 345px); }
    .promo__img_after .promo__img_after {
      display: block; }
  .promo__column::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66.3%;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    z-index: -1; }
  .promo__column {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1; }
  .promo__distrinction {
    max-width: 580px; }
  .distrinction__btn {
    font-size: 20px; }
  .distrinction__progress::after {
    display: none; }
  .distrinction__progress {
    max-width: inherit;
    height: 6px;
    margin: 0 25px;
    background: #d9d9d9; }
  .distrinction__tog {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s; }
  .distrinction__tog::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 50%;
    background-color: #68b738; }
  .promo__cost {
    text-align: right;
    margin-bottom: 65px;
    margin-top: -90px;
    flex-direction: column; } }

@media (min-width: 1300px) {
  .text {
    max-width: 432px;
    margin-bottom: 52px; }
  .promo__main {
    width: 40%;
    flex: 0 0 40%;
    width: 40%;
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .promo_title {
    margin-top: 0;
    margin-bottom: 180px; }
  .promo__cost {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    flex-direction: unset; }
    .promo__cost .cost__text {
      padding-right: 80px; }
  .promo__wrapper {
    display: flex;
    margin-top: -10px;
    background-color: inherit; }
  .promo__img {
    max-width: inherit; }
  .promo__column::after {
    display: none; }
  .promo__footer {
    display: flex;
    justify-content: center; }
  .background__promo {
    position: relative;
    z-index: 1; }
  .background__promo::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66.3%;
    background: linear-gradient(to right, #f2f2f2 69%, #eaeaea 50%);
    z-index: -1; }
  .promo__result__wrapper {
    background: #f2f2f2; } }

.page-footer {
  background: #f2f2f2; }

.page-footer__column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  align-items: center; }

.page-footer__container {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 50px;
  padding-right: 50px; }

.page-footer__social-contacts {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 47px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 60px; }

.social__item {
  text-decoration: none;
  list-style-type: none;
  margin: 0 10px; }

.footer__img {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding: 35px 0 30px;
  transition: 0.3s; }

.page-footer__academy-links {
  display: flex;
  justify-content: space-between; }

.page-footer__icon {
  margin-top: 18px; }

.page-footer__copyright {
  font-size: 16px; }

@media (min-width: 768px) {
  .page-footer__column {
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: nowrap; }
  .page-footer__container {
    flex: none;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .page-footer__social-contacts {
    border: 0;
    padding: 20px 0; }
  .page-footer__icon {
    margin-left: 20px; }
  .social__item {
    margin: 0 10px; } }

.form__wrapper {
  position: relative; }

.form__title {
  font-size: 36px; }

.form__subtitle {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }

.form_text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  flex-grow: 1;
  padding: 6px 18px; }

.form-item {
  display: flex;
  width: 100%; }

.form__radio-button {
  width: 30px;
  height: 30px; }

.form-radio {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 45px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 20px; }

.form-group {
  padding-bottom: 10px; }

.form__slogan {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arial", "Tahoma", sans-serif; }

.form-checkbox {
  margin-bottom: 20px; }

.form__row_checkbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }

.form__btn-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.form__slogan-container {
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .form__subtitle {
    font-size: 20px;
    padding-left: 30px; }
  .form__title {
    font-size: 60px; }
  .form-checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; }
  .form-group_checkbox {
    width: 33%;
    flex: 0 0 50%;
    padding-left: 20px;
    padding-bottom: 10px; }
  .form__btn-container {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10px; }
  .form__row_checkbox {
    margin-left: 20px; }
  .form__slogan-container {
    flex: 0 0 50%;
    max-width: 50%; }
  .form__button {
    padding: 10px; } }

@media (min-width: 1300px) {
  .form__main-form {
    display: flex; }
  .form__text-fields {
    flex: 0 0 49%;
    max-width: 50%;
    margin-right: 50px; }
  .form-radio {
    border: 1px solid #e6e6e6;
    flex: 0 0 37%;
    width: 50%;
    margin-top: 0; }
  .form__subtitle {
    padding-left: 0; }
  .field-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
    margin-bottom: 10px;
    flex: 0 0 45%; }
  .form__text-fields_contacts {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    padding-left: 20px; }
  .form-group_checkbox {
    width: 25%;
    flex: 0 0 25%;
    padding-left: 20px;
    padding-bottom: 10px; } }

.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid gray;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px; }

.custom-radio-btn::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: green;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in; }

.real-radio-btn:checked + .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1); }

.real-radio-btn {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1; }

.info__wrapper {
  margin-bottom: 24px; }

.info__contacts {
  position: relative; }

.info__icon {
  position: absolute; }

.info__coments {
  position: relative; }

.coment_field {
  width: 100%;
  height: 170px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-size: 16px;
  padding-left: 15px;
  margin-left: 18px; }

.info-additionally {
  position: relative; }

.info__question {
  border: 0; }

.info__title {
  position: relative;
  background-color: white;
  display: inline-block;
  padding-right: 20px; }

.info__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  top: 28px;
  z-index: -1; }

@media (min-width: 768px) {
  .info__title {
    font-size: 36px;
    padding-left: 20px;
    padding-right: 40px; }
  .info__title::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 3px;
    background: #68b738;
    top: 28px;
    z-index: -1; }
  .info__title::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 3px;
    background: #68b738;
    top: 28px;
    z-index: -1;
    right: 0; } }

.option {
  display: block;
  margin-bottom: 0.25em; }

.check {
  padding-left: 3.2em;
  padding-bottom: 10px; }

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.check__box {
  position: absolute;
  margin-left: -2.5em;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid gray;
  padding: 6px 3px 6px 4px; }

.check__input:checked + .check__box {
  background-image: url(/img/icon-tick.svg);
  background-size: 32px auto;
  background-clip: content-box; }

.catalog-bottom__icon {
  position: absolute;
  top: 30px;
  left: 136px; }

.catalog-bottom_text {
  margin-top: 87px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: 600; }

.additional__text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 11px;
  text-transform: uppercase;
  margin-bottom: 0; }

.additional__items {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px; }

.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;
  margin-bottom: 35px;
  margin-top: 0;
  background: #ffffff; }

.additional__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  top: 17px;
  z-index: -1; }

.additional__gift {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px; }

.additional__gift::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  margin-top: 30px; }

.additional__text-gift {
  max-width: 150px;
  margin: 0;
  line-height: 20px;
  font-family: "Arial", "Tahoma", sans-serif; }

.additional__container {
  position: relative;
  display: flex;
  flex-direction: column; }

.additional__container::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  margin-top: 30px; }

.aditional__gift_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 290px;
  width: 100%;
  padding: 50px 10px;
  text-align: center;
  color: #ffffff;
  background-image: url(/img/gift-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
  background-size: cover; }

@media (min-width: 768px) {
  .additional__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    position: relative;
    display: inline-block;
    padding-right: 29px;
    padding-left: 10px;
    margin-left: -5px;
    margin-bottom: 35px;
    margin-top: 0;
    background: #ffffff; }
  .additional__title::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 3px;
    background: #68b738;
    top: 17px;
    z-index: -1;
    right: 0; }
  .additional__container {
    border: 1px solid #cdcdcd;
    padding: 23px; }
  .additional__container::before {
    display: none; }
  .subtitle {
    font-size: 16px;
    padding-left: 30px; }
  .additional__text {
    font-size: 20px; }
  .additional__items {
    display: flex;
    justify-content: flex-end;
    margin-top: -34px;
    padding: 0; }
  .aditional__gift_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 290px;
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    color: #ffffff;
    background-image: url(/img/gift-photo-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
    background-size: cover; } }

@media (min-width: 1299px) {
  .additional__container {
    border: 0; } }

@media (min-width: 1300px) {
  .additional__container {
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px; }
  .additional__gift {
    flex: 0 0 25%;
    max-width: 30%; }
  .aditional__gift_img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 290px;
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    color: #ffffff;
    background-image: url(/img/gift-photo-desktop.png); }
  .additional__items {
    margin-top: 0; }
  .additional__wrapper {
    display: flex;
    justify-content: space-between; }
  .additional__column {
    width: 70%; } }

.field-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  margin-bottom: 10px; }

.field-text__label {
  margin-right: 18px;
  font-size: 20px;
  line-height: 20px;
  flex-shrink: 0;
  max-width: 50%;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  color: #222; }

.field-text__input {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  padding: 6px 18px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-family: "Oswald","Arial",sans-serif;
  text-transform: uppercase;
  color: #222;
  background-color: #fff;
  border: 1px solid rgba(205, 205, 205, 0.5); }

.field-text__icon {
  right: 37px; }

.field-text__icon {
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  fill: #222; }

.field-text__input-wrapper {
  position: relative;
  width: 100%; }

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 23px; }

.instruction__text {
  position: absolute;
  left: 89px; }

.instruction__image {
  position: absolute;
  top: 15px;
  left: 35px; }

.instruction__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.instruction__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-size: 50px; }

@media (min-width: 768px) {
  .instruction__list {
    counter-reset: section; }
  .instruction__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    min-height: 230px;
    margin-bottom: 87px; }
  .instruction__item::after {
    counter-increment: section;
    content: counter(section) "";
    position: absolute;
    left: 140px;
    top: -38px;
    font-size: 280px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    z-index: -1; }
  .instruction__item::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    background-color: #68b738;
    background-size: 50px;
    margin-bottom: 14px; }
  .instruction__image {
    position: absolute;
    top: 23px;
    left: 58px; }
  .instruction__text {
    position: absolute;
    left: 27px;
    max-width: 250px; } }

@media (min-width: 1300px) {
  .instruction__item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    min-height: 230px;
    margin-bottom: 30px; } }

.page-main {
  overflow: hidden;
  display: block; }

.page-main__block {
  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px; }

.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 23px;
  margin-top: 0;
  color: #ffffff; }

.main__text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0; }

.main_logo {
  display: block;
  margin: 0 auto 5px; }

@media (min-width: 768px) {
  .main__img {
    position: absolute;
    right: -7%;
    margin: 0 auto;
    bottom: 0%;
    z-index: -1; }
  .page-main__block {
    padding-left: 90px;
    padding-top: 55px;
    margin-bottom: 5px;
    min-height: 860px;
    text-align: left; } }

@media (min-width: 768px) {
  .main__title {
    max-width: 430px;
    margin-bottom: 25px;
    text-align: left;
    color: #111111;
    font-size: 60px; }
  .main__text {
    color: #111111;
    text-align: left;
    font-size: 20px;
    margin-bottom: 31px; } }

@media (min-width: 1300px) {
  .main__img {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 100px;
    width: 552px;
    height: auto; }
  .main__text {
    margin-bottom: 60px; }
  .page-main__block {
    min-height: 600px; } }

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

@media (max-width: 767px) {
  .container_mobile {
    background-color: #f2f2f2; } }

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px; }
  .container_tablet::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50.3%;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    z-index: -1; } }

@media (min-width: 1300px) {
  .container {
    max-width: 1300px; } }

.adress__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 25px; }
  .adress__wrapper .adress__title {
    font-size: 16px;
    text-transform: uppercase;
    max-width: 124px;
    line-height: 20px;
    margin: 0; }
  .adress__wrapper .adress__text {
    max-width: 160px;
    font-size: 14px;
    margin: 0;
    font-family: "Arial", "Tahoma", sans-serif;
    line-height: 21px; }

.adress_background {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .adress__wrapper {
    padding: 28px 58px 25px 49px; }
    .adress__wrapper .adress__title {
      font-size: 20px; }
    .adress__wrapper .adress__text {
      font-size: 16px;
      text-align: right; }
  .map__adress {
    display: none; } }

@media (max-width: 767px) {
  .map__adress {
    display: none; } }

@media (min-width: 1300px) {
  .adress__map {
    position: relative; }
  .adress__wrapper {
    display: none; }
  .map__adress {
    width: 100%;
    max-width: 570px;
    background-color: white;
    position: absolute;
    display: flex;
    padding: 60px;
    justify-content: space-between;
    left: 3%;
    top: 32%; }
  .adress__title {
    font-size: 16px;
    text-transform: uppercase;
    max-width: 124px;
    line-height: 20px;
    margin: 0; }
  .adress__text {
    max-width: 160px;
    font-size: 14px;
    margin: 0;
    font-family: "Arial", "Tahoma", sans-serif;
    line-height: 21px; } }

.product__option {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Tahoma", sans-serif; }

.product__description {
  flex: 0 0 50%;
  max-width: 50%; }

.product {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 22px; }

.product__img {
  flex: 0 0 50%;
  max-width: 50%;
  display: block; }

.product::after {
  content: "";
  position: absolute;
  left: -20px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #d9d9d9;
  width: calc(100% + 40px); }

.product__title {
  text-transform: uppercase;
  font-size: 16px; }

.product__more {
  text-align: center;
  position: relative;
  margin-top: 70px; }

.product__more::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  background: #ffffff;
  background-image: url(/img/plus-mobile.png); }

.product__more_title {
  font-size: 16px;
  text-transform: uppercase; }

.product__more_text {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 23px; }

@media (min-width: 768px) {
  .product__img {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -120px -40px 0;
    min-height: 213px; }
  .product__description {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px; }
  .product::after {
    display: none; }
  .product {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 22px;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background: #f2f2f2; }
  .product__option td {
    font-size: 16px;
    padding: 8px 0; }
  .product__option tr {
    border-bottom: 1px solid #cdcdcd; }
  .product__more_title {
    font-size: 20px;
    max-width: 140px;
    width: 100%;
    margin: 0 auto; }
  .product__more_text {
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    margin: 7px auto 85px; }
  .product__more::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    background: #ffffff;
    background-image: url(/img/plus-tablet.png); }
  .product__more {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    border: 1px solid #cdcdcd;
    margin-top: 0;
    padding: 40px 35px 40px; } }
