$phones: 320px;
$phones-max: 767px;
$tablets: 768px;
$tablets-max: 1299px;
$desktops: 1300px;

$tablets-max-width: 768px;
$desktops-max-width: 1300px;

$phones-paddings: 20px;
$tablets-paddings: 30px;
$desktops-paddings: 40px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;